name: Release multi-arch image on tag

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  release_on_tag:
    if: startsWith(github.ref, 'refs/tags/')  # only runs for tag pushes
    uses: doda2025-team20/build-tools/.github/workflows/docker-build-and-push.yml@main
    permissions:
      contents: read
      packages: write
    with:
      image: ghcr.io/doda2025-team20/model-service
      context: .
      dockerfile: ./Dockerfile
      platforms: linux/amd64,linux/arm64
    secrets: inherit
  release_on_main:
    if: github.ref == 'refs/heads/main'      # only runs for pushes to main
    uses: doda2025-team20/build-tools/.github/workflows/docker-build-and-push.yml@main
    permissions:
      contents: read
      packages: write
    with:
      image: ghcr.io/doda2025-team20/model-service
      context: .
      dockerfile: ./Dockerfile
      platforms: linux/amd64,linux/arm64
      version: ${{ format('main-{0}', github.sha) }}
    secrets: inherit

