name: Release multi-arch image on tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    uses: doda2025-team20/build-tools/.github/workflows/docker-build-and-push.yml@main
    permissions:
      contents: read
      packages: write
    with:
      image: ghcr.io/doda2025-team20/model-service
      context: .
      dockerfile: ./Dockerfile
      platforms: linux/amd64,linux/arm64
    secrets: inherit
